.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--background-light);
  width: var(--action-button-width);
  color: var(--text-color-light);

  div {
    font-size: 0.85em;
    text-align: center;
  }

  &:hover {
    color: var(--text-color);
    background-color: var(--background-ultra-light);
  }

  &:active {
    transform: translateY(1px);
  }
}

.selected {
  box-shadow: 0 0 10px 0 var(--text-color);
}

.rotate {
  animation: loading 3s linear infinite;
  @keyframes loading {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

img {
  width: 24px;
  height: 24px;
}
