<div class="container">
  <div style="display: flex; max-width: 1280px; gap: 60px; flex-direction: column">
    <div class="header">
      <div class="section" style="border-radius: 1000px; padding: 30px">
        <img src="assets/logo.png" style="width: 60px; height: 60px">
      </div>

      <div class="h1">
        Ginny
      </div>
      <div style="font-size: 2em">
        Get the best of your Github actions with Ginny.
      </div>
      <div style="font-size: 1.3em; color: var(--text-color-light); padding: 50px">
        Ginny's solution help you manage and monitor your Github actions to increase your productivity.
      </div>
      <div style="display: flex; gap: 40px;">
        <app-action-button [title]="'Ginny-ci'"
                           [img]="'assets/ginny-ci-app-logo.svg'"
                           [selected]="selectedApp === App.CI"
                           (click)="selectedApp = App.CI"
                           iconSize="50px"></app-action-button>
        <app-action-button [title]="'Ginny companion'"
                           [img]="'assets/ginny-companion-app-logo.svg'"
                           [selected]="selectedApp === App.COMPANION"
                           (click)="selectedApp = App.COMPANION"
                           iconSize="50px"></app-action-button>
      </div>
    </div>

    <ng-template [ngIf]="selectedApp === App.CI">
      <app-website-row [title]="'Organize your repositories'"
                       [theme]="theme"
                       [darkImg]="'assets/screenshots/repo-selection-light.png'"
                       [lightImg]="'assets/screenshots/repo-selection-dark.png'">
        <div>
          Organise your personal repositories and repositories from your organisations in Workspaces.
        </div>
        <br>
        <div>
          And change Workspace with a single click.
        </div>
      </app-website-row>

      <app-website-row [title]="'Follow your actions results'"
                       [theme]="theme"
                       [reverse]="true"
                       [darkImg]="'assets/screenshots/ci-cd-light.png'"
                       [lightImg]="'assets/screenshots/ci-cd-dark.png'">
        <div>
          Use Ginny to:
          <ul>
            <li>see the status of the last run of your Github actions</li>
            <li>open the repository on Github</li>
            <li>open the logs of the last run on Github</li>
            <li>run 'dispatchable' Github Actions</li>
          </ul>
        </div>
      </app-website-row>

      <app-website-row [title]="'Run multi-repository pipelines'"
                       [theme]="theme"
                       [darkImg]="'assets/screenshots/pipeline-light.png'"
                       [lightImg]="'assets/screenshots/pipeline-dark.png'">
        <div>
          Create multi-repository pipelines and choose your input parameters for each action in the pipeline.
        </div>
      </app-website-row>

      <app-website-row [title]="'Monitor your usage'"
                       [theme]="theme"
                       [reverse]="true"
                       [darkImg]="'assets/screenshots/usage-light.png'"
                       [lightImg]="'assets/screenshots/usage-dark.png'"
                       [imageWidth]="'200px'">
        <div>
          Use Ginny to monitor your Github action usage across your organisations.
        </div>
      </app-website-row>
    </ng-template>

    <ng-template [ngIf]="selectedApp === App.COMPANION">
      <div style="display: flex; justify-content: center; align-items: center; padding: 200px 0">
        <div>More coming soon !</div>
      </div>
    </ng-template>
  </div>
  <div
    style="display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%; gap: 30px">
    <div style="border-bottom: 1px solid #4e525d; width: 200px; margin-bottom: 30px"></div>
    <div style="display: flex; gap: 30px">
      <a href="https://github.com/xbauquet" target="_blank">Github</a>
      <a style="cursor: pointer" (click)="toggleTheme()"
         target="_blank">{{ theme === "dark" ? "Light mode" : "Dark mode" }}</a>
      <a href="https://github.com/xbauquet" target="_blank">Term</a>
      <a href="https://github.com/xbauquet" target="_blank">Privacy policy</a>
    </div>
    <div>
      © 2023 Xavier Bauquet, All rights reserved.
    </div>
  </div>
</div>

